<header>
  <div class="container">
    <nav>
    <a routerLink="/" class="logo">HDR</a>
      <ul>
        <li><a *ngIf="isLoggedIn" routerLink="home">Home</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/human">Humans</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/doggo">Doggos!!!</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/kennel">Kennel</a></li>
        <li><a *ngIf="isAdmin" routerLink="/admin">Owner Shit</a></li>
        <li><a *ngIf="!isLoggedIn" routerLink="/login">Login</a></li>
        <li><a *ngIf="isLoggedIn" id="logout" class="NavBarButton" (click)="onSubmitLogout()">Logout</a></li>
      </ul>
      <span class='example-fill-remaining-space'></span>
    </nav>
  </div>
</header>
