<mat-toolbar color='primary'>
  <span>HDR</span>
  <span class='example-fill-remaining-space'></span>
  <button class="NavBarButton" routerLink="home">Home</button>
  <button class="NavBarButton" routerLink="/human">Human</button>
  <button class="NavBarButton" routerLink="/doggo">Doggo</button>
  <button class="NavBarButton" routerLink="/kennel">Kennel</button>
  <button *ngIf="isAdmin" class="NavBarButton" routerLink="/admin">Owner</button>
  <button *ngIf="!isLoggedIn" class="NavBarButton" routerLink="/login">Logout</button>
  <button *ngIf="isLoggedIn" id="logout" class="NavBarButton" (click)="onSubmitLogout()">Logout</button>
</mat-toolbar>