<h1>Details</h1>

<hr>
<div *ngIf="human">
  <div>
    <label for="">FullName:</label>
    <span>{{human.FullName}}</span>
  </div>
  <div>
    <label for="">Address:</label>
    <span>{{human.Address}}</span>
  </div>
  <div>
    <label for="">Phone:</label>
    <span>{{human.Phone}}</span>
  </div>
  <div>
    <label for="">Email:</label>
    <span>{{human.Email}}</span>
  </div>
  <div>
    <label for="">DoggoName:</label>
    <span>{{human.DoggoName}}</span>
  </div>
</div>
<button mat-button color="">Edit</button>

<button mat-button color="" routerLink="/human">Back To List</button>

