<h1>Register a Doggo</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="doggoForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="DoggoName" formControlName="DoggoName" type="DoggoName" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Breed" formControlName="Breed" type="Breed" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Size" formControlName="Size" type="Size" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Human" formControlName="HumanID" type="HumanID" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Doggo Friendly??" formControlName="DoggoFriendly" type="DoggoFriendly" required />
        <mat-radio-group>
          <mat-radio-button value='1'>True</mat-radio-button>
          <mat-radio-button value='0'>False</mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input mat-checkbox formControlName="PeopleFriendly" type="PeopleFriendly" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Special Needs" formControlName="SpecialNeeds" type="SpecialNeeds" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Age" formControlName="Age" type="Age" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Image Address" formControlName="Image" type="Image" required />
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Register a Doggo</button>
</form>

<a mat-button routerLink="/doggo">Back to List</a>