<h1>Doggy Details!!</h1>

<hr>
<div class="label" *ngIf="doggo">
  <div>
    <label  for="">DoggoID:</label>
    &nbsp;
    <span>{{doggo.DoggoID}}</span>
  </div>
  <div>
    <label for="">Name:</label>
    &nbsp;
    <span>{{doggo.DoggoName}}</span>
  </div>
  <div>
    <label for="">Breed:</label>
    &nbsp;
    <span>{{doggo.Breed}}</span>
  </div>
  <div>
    <label for="">Size: </label>
    &nbsp;
    <span>{{doggo.Size}}</span>
  </div>
  <div>
    <label for="">Human: </label>
    &nbsp;
    <span>{{doggo.HumanID}}</span>
  </div>
  <div>
    <label for="">Doggo Friendly: </label>
    &nbsp;
    <span>{{doggo.DoggoFriendly ? 'Yes' : 'No'}}</span>
  </div>
  <div>
    <label for="">People Friendly: </label>
    &nbsp;
    <span>{{doggo.PeopleFriendly ? 'Yes' : 'No'}}</span>
  </div>
  <div>
    <label for="">Special Needs: </label>
    &nbsp;
    <span>{{doggo.SpecialNeeds}}</span>
  </div>
  <div>
    <label for="">Age: </label>
    &nbsp;
    <span>{{doggo.Age}}</span>
  </div>
  <div>
    <label for="">Image: </label>
    &nbsp;
    <span>{{doggo.Image}}</span>
  </div>
</div>

<a mat-button routerLink="/doggo">Back to List</a>