<h1>Kennel Setup</h1>
<hr>
<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="kennelForm">
  <div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Doggo Name" formControlName="DoggoID" required>
          <mat-option *ngFor="let doggoId of doggos" [value]="doggoId.DoggoID">{{doggoId.DoggoName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="KennelNumber" formControlName="KennelNumber" type="text" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Size of Doggo</mat-label>
        <mat-select formControlName="Size">
          <mat-option *ngFor="let size of size" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label>
        <span>Kennel Occupied?</span><input type="checkbox" formControlName="Occupied" />
      </label>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Kennel</button>
</form>

<a mat-button routerLink="/kennel">Back to List</a>