<h1>Kennel Maintenance</h1>
<hr>

<div *ngIf="kennel">
  <form #f="ngForm" (ngSubmit)='onSubmit(f)' [formGroup] ="editKennelForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="KennelID" formControlName="KennelID" type="KennelID" required [value]="kennel.KennelID"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Kennel Number" formControlName="KennelNumber" type="KennelNumber" required [value]="kennel.KennelNumber"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Occupied?" formControlName="Occupied" type="Occupied" required [value]="kennel.Occupied"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Doggo ID" formControlName="DoggoID" type="DoggoId" required [value]="kennel.DoggoID"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Doggo Name" formControlName="DoggoName" type="DoggoName" required [value]="kennel.DoggoName"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Human ID" formControlName="HumanID" type="HumanID" required [value]="kennel.HumanID"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="First and Last Name" formControlName="FullName" type="FullName" required [value]="kennel.FullName"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>