<h1>Remove</h1>>
<h4>Are you Super Sure you want to do this??</h4>

<hr>
<div *ngIf="doggo">
  <div>
    <label for="">Doggo ID</label>
    <span>{{doggo.DoggoID}}</span>
  </div>

  <div>
    <label for="">Name</label>
    <span>{{doggo.DoggoName}}</span>
  </div>

  <div>
    <label for="">Size</label>
    <span>{{doggo.Size}}</span>
  </div>

  <div>
    <label for="">Breed</label>
    <span>{{doggo.Breed}}</span>
  </div>

  <div>
    <label for="">Human</label>
    <span>{{doggo.HumanID}}</span>
  </div>

  <div>
    <label for="">Doggo Friendly</label>
    <span>{{doggo.DoggoFriendly}}</span>
  </div>

  <div>
    <label for="">Human Friendly</label>
    <span>{{doggo.HumanFriendly}}</span>
  </div>

  <div>
    <label for="">Age</label>
    <span>{{doggo.Age}}</span>
  </div>

  <div>
    <label for="">Image</label>
    <span>{{doggo.Image}}</span>
  </div>
</div>


<button mat-button color="warn" (click) ="onDelete()">Remove</button>
<button mat-button color="primary" routerLink="/doggo">Back to List</button>