<h1>Create Person</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="noteForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="FullName" formControlName="FullName" type="FullName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="Address" type="Address" required/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="Phone" type="Phone" required/>
        </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="Email" type="Email" required/>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field>
              <input matInput placeholder="DoggoName" formControlName="DoggoName" type="DoggoName" required/>
            </mat-form-field>
          </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Note</button>
</form>

<a mat-button routerLink="/notes">Back to List</a>