<h1>Index</h1>

<a mat-raised-button color='primary' routerLink='/kennel/create'>Alter Kennel Configuration</a>
<hr>
<div>
  <mat-table #table [dataSource] ="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef='details'>
      <mat-header-cell *matHeaderCellDef class='matColumnSize'></mat-header-cell>
      <mat-cell *matCellDef='let kennel' routerLink='/kennel/detail/{{kennel.KennelID}}'><i
          class='material-icons'>library_books</i></mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="KennelNumber">
      <mat-header-cell *matHeaderCellDef class='matColumnSize'>Number of Kennel</mat-header-cell>
      <mat-cell *matCellDef="let kennel"> {{kennel.KennelNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Size">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Size of Kennel/Dog</mat-header-cell>
      <mat-cell *matCellDef="let kennel"> {{kennel.Size}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Occupied">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Is this kennel taken?</mat-header-cell>
      <mat-cell *matCellDef="let kennel"> {{kennel.Occupied}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="DoggoName">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Name of Doggo</mat-header-cell>
      <mat-cell *matCellDef="let kennel"> {{kennel.DoggoName}}</mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="KennelID">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">KennelID</mat-header-cell>
      <mat-cell *matCellDef="let kennel"> {{kennel.KennelID}}  </mat-cell>
    </ng-container>

     <ng-container matColumnDef="HumanID">
      <mat-header-cell *matColumnDef class="matColumnSize">Human ID</mat-header-cell>
      <mat-cell *matCellDef="let kennels"> {{kennel.HumanID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FullName">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">First and Last Name of Owner</mat-header-cell>
      <mat-cell *matCellDef="let kennel">{{kennel.FullName}}</mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let kennel">
        <i mat-icon class="material-icons" routerLink="/kennel/edit/{{kennel.KennelID}}">edit</i>
        <i class="material-icons" routerLink="/kennel/delete/{{kennel.KennelID}}">delete_forever</i>
      </mat-cell>
    </ng-container>
    
  </mat-table>
</div>