<h1>Edit a Doggo!</h1>
<hr>

<div *ngIf="doggo">
  <form #f="ngForm" (ngSubmit)='onSubmit(f)' [formGroup]="editDoggoForm">
    <div>
      <div>
        <mat-form-field>
          <input matInput placeholder="DoggoName" formControlName="DoggoName" type="text" required
            [value]="doggo.DoggoName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Breed" formControlName="Breed" type="Breed" required [value]="doggo.Breed" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Size" formControlName="Size" type="Size" required [value]="doggo.Size" />
        </mat-form-field>
      </div>
      <div>
        <label>
          <span>Is Doggo Friendly??</span><input type="checkbox" formControlName="DoggoFriendly" />
        </label>
      </div>
      <div>
        <label>
          <span>Is People Friendly??</span><input type="checkbox" formControlName="PeopleFriendly" />
        </label>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Special Needs" formControlName="SpecialNeeds" type="SpecialNeeds" required
            [value]="doggo.SpecialNeeds" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Age" formControlName="Age" type="Age" required [value]="doggo.Age" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Image Address" formControlName="Image" type="Image"
            [value]="doggo.Image" />
        </mat-form-field>
      </div>

    </div>
    <button mat-raised-button class="nav-btn" color="" type="submit">Save</button>
  </form>
</div>

<a mat-button routerLink="/doggo">Back to List</a>