<h1>Edit a Doggo!</h1>>
<hr>

<div *ngIf="doggo">
  <form #f="ngForm" (ngSubmit)='onSubmit(f)' [formGroup]="editDoggoForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="DoggoID" formControlName="DoggoID" type="DoggoID" required [value]="doggo.DoggoID" />
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="DoggoName" formControlName="DoggoName" type="DoggoName" required [value]="doggo.DoggoName" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Breed" formControlName="Breed" type="Breed" required [value]="doggo.Breed" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Size" formControlName="Size" type="Size" required [value]="doggo.Size" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Human" formControlName="HumanID" type="HumanID" required [value]="doggo.HumanID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input mat-checkbox  formControlName="DoggoFriendly" type="DoggoFriendly" required [value]="doggo.DoggoFriendly" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input mat-checkbox  formControlName="PeopleFriendly" type="PeopleFriendly" required [value]="doggo.PeopleFriendly" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Special Needs" formControlName="SpecialNeeds" type="SpecialNeeds" required [value]="doggo.SpecialNeeds" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Age" formControlName="Age" type="Age" required [value]="doggo.Age" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Image Address" formControlName="Image" type="Image" required [value]="doggo.Image" />
        </mat-form-field>
      </div>

    </div>
    <a mat-raised-button class="nav-btn" type="submit">Save Changes</a>
  </form>
</div>

<a mat-button routerLink="/doggos">Back to List</a>