<h1>Humen</h1>
<a mat-raised-button color="primary" routerLink='/human/create'>Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef='details'>
      <mat-header-cell *matHeaderCellDef class='matColumnSize'></mat-header-cell>
      <mat-cell *matCellDef='let human' routerLink='/human/detail/{{human.HumanID}}'><i
          class='material-icons'>library_books</i></mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="FullName">
    <mat-header-cell *matHeaderCellDef class="matColumnSize">First and Last Name</mat-header-cell>
    <mat-cell *matCellDef="let human">{{human.FullName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef class="matColumnSize">Address</mat-header-cell>
    <mat-cell *matCellDef="let human">{{human.Address}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Phone">
    <mat-header-cell *matHeaderCellDef class="matColumnSize">Phone</mat-header-cell>
    <mat-cell *matCellDef="let human">{{human.Phone}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef class="matColumnSize">Email</mat-header-cell>
    <mat-cell *matCellDef="let human">{{human.Email}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="DoggoName">
    <mat-header-cell *matHeaderCellDef class="matColumnSize">Doggo Name</mat-header-cell>
    <mat-cell *matCellDef="let human">{{human.DoggoName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let human">
      <i class="material-icons" routerLink="/human/edit/{{human.HumanID}}">edit</i>
      <i class="material-icons" routerLink="/human/delete/{{human.HumanID}}">delete</i>
    </mat-cell>
  </ng-container>

  </mat-table>
</div>